name: go-linux

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: cloudengio/.github/.github/workflows/go-test-multimod.yml@main
        with:
          os-version: ${{ runner.os }}
          go-versions: |
            [ "1.25.x" ]

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: cloudengio/.github/.github/workflows/go-lint-multimod.yml@main
        with:
          os-version: ${{ runner.os }}
          go-version: "1.25.x"
