name: go-linux

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

permissions:
  contents: read

jobs:
  test:
    uses: cloudengio/.github/.github/workflows/go-test-multimod.yml@conditional-webapp-actions
    with:
      runner: |
        [ "ubuntu-latest" ]
      go-versions: |
        [ "1.25.x" ]

  lint:
    uses: cloudengio/.github/.github/workflows/go-lint-multimod.yml@main
    with:
      runner: |
        [ "ubuntu-latest" ]
      go-version: "1.25.x"
