name: go-macos

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

permissions:
  contents: read

jobs:
  test:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v5
      - uses: cloudengio/.github/.github/workflows/go-test-multimod.yml@main
        with:
          os-version: ${{ runner.os }}
          go-versions: |
            [ "1.25.x" ]
