name: go-windows

on:   
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    uses: cloudengio/.github/.github/workflows/go-test-multimod.yml@main
    with:
      go-versions: |
        [
          "1.23.x"
        ]
      os-version: windows-latest
