name: go-windows

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

permissions:
  contents: read

jobs:
  check-description:
    if: github.event_name == 'pull_request'
    runs-on: ubuntu-latest
    outputs:
      should-run: ${{ steps.check.outputs.contains-pattern }}
    steps:
      - uses: actions/checkout@v4
      - name: Check PR description for 'test:windows'
        id: check
        uses: cloudengio/.github/.github/actions/check-pr-description@main
        with:
          phrase: test:windows
          pr-body: ${{ github.event.pull_request.body }}

  test:
    needs: check-description
    if: github.event_name == 'push' || needs.check-description.outputs.should-run == 'true'
    uses: cloudengio/.github/.github/workflows/go-test-multimod.yml@main
    with:
      os-version: windows-latest
      go-versions: |
        [ "1.25.x" ]
      multimod-action: "test-less-parallelism"
