name: go-windows

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

permissions:
  contents: read

jobs:
  find:
    runs-on: windows-latest
    steps:
      - name: list
        run: |
          ls -R "C:\Program Files\Google"

  test:
    uses: cloudengio/.github/.github/workflows/go-test-multimod.yml@main
    with:
      os-version: windows-latest
      go-versions: |
        [ "1.25.x" ]
